<div class="flex items-center justify-between p-4 bg-stone-50 shadow">
    <div class="w-1/5 text-blue-600 font-bold text-2xl">
        Foro
    </div>
    <div class="w-3/5 relative pr-20">
        <input 
            type="text" 
            placeholder="Search the forum"
            class="w-full border border-gray-200 rounded-2xl p-2 pr-10"
        >
        <img 
            src="/assets/flecha-circulo-derecha.svg" 
            alt="Search"
            class="w-5 h-5 absolute top-1/2 right-23 transform -translate-y-1/2"
        >
    </div>
    <div class="w-1/5 flex items-center space-x-4">
        <button class="p-2 rounded hover:bg-gray-200 transition">
            <img src="/assets/tornillo.svg" alt="icono tornillo" class="w-5 h-5">
        </button>
        <button class="p-2 rounded hover:bg-gray-200 transition">
            <img src="/assets/circulo-sobre.svg" alt="sobre"  class="w-5 h-5">
        </button>
        <img src="https://placehold.co/40x40" alt="perfil" class="w-10 h-10 rounded-full">
    </div>
</div>